// background
$bg-color-1: #f7f5f5;


// text-colors
$text-color-1: rgb(22, 29, 82);
$text-color-gray: #ccc;
$text-color-white: white;
$text-color-black: #333;
$text-message-own: rgb(46, 54, 118);
$text-message: rgb(59, 59, 237);



// menu
$text-color-menu: white;
$bg-color-menu: rgba(22, 29, 82, 0.9);
$bg-color-2:rgb(59, 59, 237);

// font-family
$font-type-1:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




// dark-theme
