 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
span{
    color: #706e6e;
    font-size: 16px;
}
p{
    color: black;
    font-weight: 550;
}

::-webkit-scrollbar{
    overflow: hidden;
}

.deposit{
    color: green;
}

.transfer{
    color: orange;
}

.take{
    color: red;
}
button{
    color: white;
    padding: 8px;
    background: linear-gradient(131.5deg,#ff6cab,#f660bc 10.08%,#ec53cd 20.17%,#e045de 30.25%,#d335ee 40.34%,#c323ff 50.42%,#b53aff 60.34%,#a749ff 70.25%,#9854ff 80.17%,#865eff 90.08%,#7366ff);
    border-radius: 6px;
    border: none;
    &:hover{
        cursor: pointer;
    }
}
h2{
    text-align: center;
    color: white;
}
h3{
    color: white;
}
h4{
    text-align: center;
    color: white;
}

.container{
    width: 1200px;
    height: 500px;
    background: rgb(135, 135, 255);
    border-radius: 8px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    .left{
       flex: 1;
       padding: 10px;

       .lc{
        padding-top: 20px;
        text-align: center;
       }
    }
    .center{
        flex: 2;
        padding: 10px;
        height: 100%;
        border-left: 1px solid white;
        border-right: 1px solid white;

        .history{
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            overflow: scroll;
            height: 100%;
            
           
            &__item{
                padding: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid white;
                background-color: white;
                border-radius: 8px;
                height: 55px;
                
            }
        }
    }

    .right{
        flex: 1;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .actions{
            display: flex;
            gap: 20px;
            padding-top: 20px;
            flex-direction: column;
        }
    }
}
