@import "../../assets/Variables.scss";

::-webkit-scrollbar{
    background-color: $bg-color-1;
}

.chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    h2{
        color: $text-message;
    }

    // TOP

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid $bg-color-2;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;

        &__info{
            display: flex;
            align-items: center;
            gap: 10px;
           
            
          img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          &__userInfo{
            display: flex;
            flex-direction: column;
           
            gap: 5px;
            h5{
                color: $text-color-black;
                font-size: 18px;
            }
            span{
                color: $text-color-gray;
            }
          }
         
        }
        &__btns {
            display: flex;
            align-items: center;
            gap: 10px;
            
           
            i{
                color: $bg-color-2;
                font-size: 26px;
                cursor: pointer;
            }
        }
    }


    // CENTER 

    &__center{
        display: flex;
        flex: 1;
        position: relative;
        padding: 20px;
        overflow: scroll;
        flex-direction: column;
        gap: 20px;

        .message{
            max-width: 70%;
           
            gap: 20px;

            &.own{
                align-self: flex-end;

                .texts{
                    p{
                        color: $text-color-white;
                        background-color: $text-message;
                        padding: 10px;
                        border-radius: 10px;
                    }
                    
                }
            }
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
            .texts{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;
                
                img{
                    height: 300px;
                    width: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
               p{
                padding: 10px;
                border-radius: 10px;
                color: $text-color-white;
                background-color: $text-message-own;
               }
               span{
                color: $text-color-black;
               }
            }
        }
      
    }




    // BOTTOM

    &__bottom{
        border-top: 1px solid $bg-color-2;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        margin-top: auto;
        gap: 20px;
        height: 80px;
        position: relative;
        
        &__file{
            display: flex;
            align-items: center;
            i{
                color: $text-color-white;
                padding: 10px;
                border-radius: 8px;
                background-color: $bg-color-2;
                font-size: 20px;
                cursor: pointer;
            }
        }
        &__send{
            display: flex;
            align-items: center;
            input{
                flex: 1;
                background-color: $bg-color-2;
                border: none;
                outline: none;
                padding: 10px;
                width: 600px;
                border-radius: 8px;
                flex-wrap: wrap;
                font-size: 18px;
                color: $text-color-white;
                
            }
            input::placeholder{
                color: $text-color-white;
            }
        }

        &__btns{
            display: flex;
            gap: 10px;
            align-items: center;
            
            .emoji{
                position: relative;
                .picker{
                    position: absolute;
                    bottom: 50px;
                    right: 0px;
                }
            }
            i{
                color: $text-color-white;
                padding: 10px;
                border-radius: 8px;
                background-color: $bg-color-2;
                font-size: 20px;
                cursor: pointer;
                position: relative;
            }
        }
    }
}


.nado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}